<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Sistema de Segurança - Login</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <div class="container">
        <h2>Acesso ao Sistema</h2>
        <form id="loginForm">
            <div class="form-group">
                <label for="email">E-mail</label>
                <input type="email" id="email" required placeholder="seu@email.com">
            </div>
            <div class="form-group">
                <label for="password">Senha</label>
                <input type="password" id="password" required placeholder="********">
            </div>
            <button type="submit">Entrar</button>
            <a [routerLink]="['/cadastro']" class="link-action">Não tem conta? Cadastre-se </a>
        </form>
    </div>
</body>
</html>